USE [master]
GO
/****** Object:  Database [ManzelOSDB]    Script Date: 10/27/2025 3:17:02 PM ******/
CREATE DATABASE [ManzelOSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManzelOSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ManzelOSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManzelOSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ManzelOSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManzelOSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManzelOSDB]
GO
/****** Object:  Table [dbo].[people]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people](
	[person_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](255) NOT NULL,
	[father_name] [nvarchar](255) NOT NULL,
	[grandfather_name] [nvarchar](255) NOT NULL,
	[last_name] [nvarchar](255) NOT NULL,
	[national_id] [int] NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[country_id] [smallint] NOT NULL,
	[city_id] [int] NOT NULL,
	[address_district] [nvarchar](500) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[phone] [nvarchar](30) NOT NULL,
	[personal_image_path] [nvarchar](max) NULL,
	[marriage_status_id] [smallint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__people__543848DF10F1807D] PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__people__9560E95D27A79217] UNIQUE NONCLUSTERED 
(
	[national_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__people__AB6E61641657C350] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__people__B43B145FA3943A3D] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[country_id] [smallint] IDENTITY(1,1) NOT NULL,
	[continent_id] [smallint] NOT NULL,
	[country_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[country_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[country_id] [smallint] NOT NULL,
	[city_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[normal_people_view]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[normal_people_view] AS 
SELECT 
    p.person_id,
    p.first_name + ' ' + p.father_name + ' ' + p.grandfather_name + ' ' + p.last_name AS Full_Name,
    p.national_id,
    p.date_of_birth,
    CASE 
        WHEN p.gender = 1 THEN 'Male'
        ELSE 'Female'
    END AS [Person Gender],
    ctry.country_name AS [Nationality],
    ct.city_name AS [City],
    p.address_district,
    p.email,
    p.phone,
    p.personal_image_path,
    p.marriage_status_id,
    p.created_at
FROM 
    dbo.people p
    INNER JOIN dbo.countries ctry ON p.country_id = ctry.country_id
    INNER JOIN dbo.cities ct ON p.city_id = ct.city_id;
GO
/****** Object:  Table [dbo].[rental_units]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_units](
	[rental_unit_id] [int] IDENTITY(1,1) NOT NULL,
	[rental_unit_number_order] [int] NOT NULL,
	[rental_unit_name] [nvarchar](500) NOT NULL,
	[rental_unit_space] [decimal](12, 2) NOT NULL,
	[rental_unit_location_name] [nvarchar](500) NOT NULL,
	[rental_unit_location_latitude] [decimal](9, 6) NOT NULL,
	[rental_unit_location_longitude] [decimal](9, 6) NOT NULL,
	[rental_unit_type_id] [int] NOT NULL,
	[parent_rental_unit_id] [int] NULL,
	[is_available] [bit] NOT NULL,
	[property_manager_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[representative_owner_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rental_unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[parent_rental_units_view]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[parent_rental_units_view] as 

select * from rental_units where parent_rental_unit_id is null
GO
/****** Object:  Table [dbo].[bill_payment_statuses]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_payment_statuses](
	[bill_payment_status_id] [smallint] IDENTITY(1,1) NOT NULL,
	[bill_payment_status_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_payment_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_types]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_types](
	[bill_type_id] [int] IDENTITY(1,1) NOT NULL,
	[billing_type_name] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[billing_type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billing_periods]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billing_periods](
	[billing_period_type_id] [int] IDENTITY(1,1) NOT NULL,
	[billing_period] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__billing___39015C343FF1DA4C] PRIMARY KEY CLUSTERED 
(
	[billing_period_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consumption_measuring_units]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consumption_measuring_units](
	[consumption_unit_type_id] [smallint] IDENTITY(1,1) NOT NULL,
	[consumption_measuring_unit] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[consumption_unit_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[consumption_measuring_unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[continents]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[continents](
	[continent_id] [smallint] IDENTITY(1,1) NOT NULL,
	[continent_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[continent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[continent_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[electricity_readers]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[electricity_readers](
	[electricity_reader_id] [int] IDENTITY(1,1) NOT NULL,
	[utility_reader_id] [int] NOT NULL,
	[electricity_reader_number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[electricity_reader_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NOT NULL,
	[salary] [money] NOT NULL,
	[job] [nvarchar](500) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__employee__C52E0BA879EF2673] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__employee__543848DEBCA13687] UNIQUE NONCLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generated_bills]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generated_bills](
	[generated_bill_id] [int] IDENTITY(1,1) NOT NULL,
	[generated_bill_fees] [smallmoney] NOT NULL,
	[bill_type_id] [int] NOT NULL,
	[rental_contract_id] [int] NOT NULL,
	[rental_unit_id] [int] NOT NULL,
	[generated_date] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[bill_payment_status_id] [smallint] NOT NULL,
	[expected_payment_date] [datetime2](7) NOT NULL,
	[is_paid] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[generated_bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marriage_statuses]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marriage_statuses](
	[marriage_status_id] [smallint] IDENTITY(1,1) NOT NULL,
	[marriage_status_name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[marriage_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[marriage_status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[owners]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[owners](
	[owner_id] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NOT NULL,
	[is_business] [bit] NOT NULL,
	[number_of_assets] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[payment_method_id] [smallint] IDENTITY(1,1) NOT NULL,
	[payment_status_name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_statuses]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_statuses](
	[payment_status_id] [smallint] IDENTITY(1,1) NOT NULL,
	[payment_status_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_amount] [smallmoney] NOT NULL,
	[paid_by_tenant_id] [int] NOT NULL,
	[generated_bill_id] [int] NOT NULL,
	[received_by_rental_unit_owner_id] [int] NOT NULL,
	[payment_date] [datetime2](7) NOT NULL,
	[payment_method_id] [smallint] NOT NULL,
	[payment_status_id] [smallint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_employee_assignments]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_employee_assignments](
	[property_employee_assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[rental_unit_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[date_of_assignment] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[property_employee_assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_property_employee] UNIQUE NONCLUSTERED 
(
	[rental_unit_id] ASC,
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_managers]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_managers](
	[property_manager_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[is_active] [bit] NOT NULL,
	[permession] [int] NOT NULL,
	[assigned_at] [datetime] NOT NULL,
 CONSTRAINT [PK__property__137735AD9FA7447A] PRIMARY KEY CLUSTERED 
(
	[property_manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PropertyManager_EmployeeId] UNIQUE NONCLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_contracts]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_contracts](
	[rental_contract_id] [int] IDENTITY(1,1) NOT NULL,
	[rent_start_date] [date] NOT NULL,
	[rent_end_date] [date] NOT NULL,
	[representative_owner_id_at_the_time] [int] NOT NULL,
	[tenant_id] [int] NOT NULL,
	[billing_period_type_id] [int] NOT NULL,
	[rental_unit_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[rent_amount] [smallmoney] NOT NULL,
	[bill_type_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rental_contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_unit_types]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_unit_types](
	[rental_unit_type_id] [int] IDENTITY(1,1) NOT NULL,
	[rental_unit_name] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rental_unit_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[rental_unit_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tenants]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenants](
	[tenant_id] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NOT NULL,
	[documents_file_path] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tenant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utility_readers]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utility_readers](
	[utility_reader_id] [int] IDENTITY(1,1) NOT NULL,
	[rental_contract_id] [int] NOT NULL,
	[rental_unit_id] [int] NOT NULL,
	[consumption_unit_type_id] [smallint] NOT NULL,
	[billing_period_type_id] [int] NOT NULL,
	[consumption_amount] [decimal](12, 2) NOT NULL,
	[date_transfered_to_tenant] [date] NOT NULL,
	[bill_type_id] [int] NOT NULL,
	[price] [smallmoney] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[utility_reader_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[water_readers]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[water_readers](
	[water_reader_id] [int] IDENTITY(1,1) NOT NULL,
	[utility_reader_id] [int] NOT NULL,
	[water_reader_number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[water_reader_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[property_employee_assignments] ADD  DEFAULT (getdate()) FOR [date_of_assignment]
GO
ALTER TABLE [dbo].[cities]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[countries] ([country_id])
GO
ALTER TABLE [dbo].[countries]  WITH CHECK ADD FOREIGN KEY([continent_id])
REFERENCES [dbo].[continents] ([continent_id])
GO
ALTER TABLE [dbo].[electricity_readers]  WITH CHECK ADD FOREIGN KEY([utility_reader_id])
REFERENCES [dbo].[utility_readers] ([utility_reader_id])
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK__employees__perso__4CA06362] FOREIGN KEY([person_id])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK__employees__perso__4CA06362]
GO
ALTER TABLE [dbo].[generated_bills]  WITH CHECK ADD FOREIGN KEY([bill_type_id])
REFERENCES [dbo].[bill_types] ([bill_type_id])
GO
ALTER TABLE [dbo].[generated_bills]  WITH CHECK ADD FOREIGN KEY([bill_payment_status_id])
REFERENCES [dbo].[bill_payment_statuses] ([bill_payment_status_id])
GO
ALTER TABLE [dbo].[generated_bills]  WITH CHECK ADD FOREIGN KEY([rental_contract_id])
REFERENCES [dbo].[rental_contracts] ([rental_contract_id])
GO
ALTER TABLE [dbo].[generated_bills]  WITH CHECK ADD FOREIGN KEY([rental_unit_id])
REFERENCES [dbo].[rental_units] ([rental_unit_id])
GO
ALTER TABLE [dbo].[owners]  WITH CHECK ADD  CONSTRAINT [FK__owners__person_i__68487DD7] FOREIGN KEY([person_id])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[owners] CHECK CONSTRAINT [FK__owners__person_i__68487DD7]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([generated_bill_id])
REFERENCES [dbo].[generated_bills] ([generated_bill_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([paid_by_tenant_id])
REFERENCES [dbo].[tenants] ([tenant_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_methods] ([payment_method_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([payment_status_id])
REFERENCES [dbo].[bill_payment_statuses] ([bill_payment_status_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([received_by_rental_unit_owner_id])
REFERENCES [dbo].[owners] ([owner_id])
GO
ALTER TABLE [dbo].[people]  WITH CHECK ADD  CONSTRAINT [FK__people__city_id__47DBAE45] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([city_id])
GO
ALTER TABLE [dbo].[people] CHECK CONSTRAINT [FK__people__city_id__47DBAE45]
GO
ALTER TABLE [dbo].[people]  WITH CHECK ADD  CONSTRAINT [FK__people__country___46E78A0C] FOREIGN KEY([country_id])
REFERENCES [dbo].[countries] ([country_id])
GO
ALTER TABLE [dbo].[people] CHECK CONSTRAINT [FK__people__country___46E78A0C]
GO
ALTER TABLE [dbo].[people]  WITH CHECK ADD  CONSTRAINT [FK__people__marriage__48CFD27E] FOREIGN KEY([marriage_status_id])
REFERENCES [dbo].[marriage_statuses] ([marriage_status_id])
GO
ALTER TABLE [dbo].[people] CHECK CONSTRAINT [FK__people__marriage__48CFD27E]
GO
ALTER TABLE [dbo].[property_employee_assignments]  WITH CHECK ADD  CONSTRAINT [FK_assignments_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[property_employee_assignments] CHECK CONSTRAINT [FK_assignments_employee]
GO
ALTER TABLE [dbo].[property_employee_assignments]  WITH CHECK ADD  CONSTRAINT [FK_assignments_property] FOREIGN KEY([rental_unit_id])
REFERENCES [dbo].[rental_units] ([rental_unit_id])
GO
ALTER TABLE [dbo].[property_employee_assignments] CHECK CONSTRAINT [FK_assignments_property]
GO
ALTER TABLE [dbo].[property_managers]  WITH CHECK ADD  CONSTRAINT [FK_property_managers_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[property_managers] CHECK CONSTRAINT [FK_property_managers_employees]
GO
ALTER TABLE [dbo].[rental_contracts]  WITH CHECK ADD FOREIGN KEY([bill_type_id])
REFERENCES [dbo].[bill_types] ([bill_type_id])
GO
ALTER TABLE [dbo].[rental_contracts]  WITH CHECK ADD  CONSTRAINT [FK__rental_co__billi__7E37BEF6] FOREIGN KEY([billing_period_type_id])
REFERENCES [dbo].[billing_periods] ([billing_period_type_id])
GO
ALTER TABLE [dbo].[rental_contracts] CHECK CONSTRAINT [FK__rental_co__billi__7E37BEF6]
GO
ALTER TABLE [dbo].[rental_contracts]  WITH CHECK ADD FOREIGN KEY([rental_unit_id])
REFERENCES [dbo].[rental_units] ([rental_unit_id])
GO
ALTER TABLE [dbo].[rental_contracts]  WITH CHECK ADD FOREIGN KEY([representative_owner_id_at_the_time])
REFERENCES [dbo].[owners] ([owner_id])
GO
ALTER TABLE [dbo].[rental_contracts]  WITH CHECK ADD FOREIGN KEY([tenant_id])
REFERENCES [dbo].[tenants] ([tenant_id])
GO
ALTER TABLE [dbo].[rental_units]  WITH CHECK ADD  CONSTRAINT [FK__rental_un__prope__75A278F5] FOREIGN KEY([property_manager_id])
REFERENCES [dbo].[property_managers] ([property_manager_id])
GO
ALTER TABLE [dbo].[rental_units] CHECK CONSTRAINT [FK__rental_un__prope__75A278F5]
GO
ALTER TABLE [dbo].[rental_units]  WITH CHECK ADD FOREIGN KEY([rental_unit_type_id])
REFERENCES [dbo].[rental_unit_types] ([rental_unit_type_id])
GO
ALTER TABLE [dbo].[rental_units]  WITH CHECK ADD FOREIGN KEY([representative_owner_id])
REFERENCES [dbo].[owners] ([owner_id])
GO
ALTER TABLE [dbo].[tenants]  WITH CHECK ADD  CONSTRAINT [FK__tenants__person___628FA481] FOREIGN KEY([person_id])
REFERENCES [dbo].[people] ([person_id])
GO
ALTER TABLE [dbo].[tenants] CHECK CONSTRAINT [FK__tenants__person___628FA481]
GO
ALTER TABLE [dbo].[utility_readers]  WITH CHECK ADD FOREIGN KEY([bill_type_id])
REFERENCES [dbo].[bill_types] ([bill_type_id])
GO
ALTER TABLE [dbo].[utility_readers]  WITH CHECK ADD  CONSTRAINT [FK__utility_r__billi__08B54D69] FOREIGN KEY([billing_period_type_id])
REFERENCES [dbo].[billing_periods] ([billing_period_type_id])
GO
ALTER TABLE [dbo].[utility_readers] CHECK CONSTRAINT [FK__utility_r__billi__08B54D69]
GO
ALTER TABLE [dbo].[utility_readers]  WITH CHECK ADD FOREIGN KEY([consumption_unit_type_id])
REFERENCES [dbo].[consumption_measuring_units] ([consumption_unit_type_id])
GO
ALTER TABLE [dbo].[utility_readers]  WITH CHECK ADD FOREIGN KEY([rental_contract_id])
REFERENCES [dbo].[rental_contracts] ([rental_contract_id])
GO
ALTER TABLE [dbo].[utility_readers]  WITH CHECK ADD FOREIGN KEY([rental_unit_id])
REFERENCES [dbo].[rental_units] ([rental_unit_id])
GO
ALTER TABLE [dbo].[water_readers]  WITH CHECK ADD FOREIGN KEY([utility_reader_id])
REFERENCES [dbo].[utility_readers] ([utility_reader_id])
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewTenant]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewTenant]
@PersonId int,
@DocumentsFilePath nvarchar(max),
@CreatedAt datetime2,
@TenantId int output

as 
begin	

	insert into tenants (person_id, documents_file_path, created_at)
	values (@PersonId, @DocumentsFilePath, @CreatedAt)

	set @TenantId = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTenantById]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetTenantById]
	@TenantId int

		as 
			begin
					select * from tenants where tenant_id = @TenantId
			end
GO
/****** Object:  StoredProcedure [dbo].[SP_ProcessAndMakePayment]    Script Date: 10/27/2025 3:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ProcessAndMakePayment]
--- targeted bill info ---
	@GeneratedBillId int,
--- payment info ---
	@PaymentAmount smallmoney,
	@PaidByTenantId int,
	@ReceivedByOwnerId int,
	@PaymentDate datetime2,
	@PaymentMethodId smallint,
	@PaymentStatusId smallint,
	@CreatedAt datetime2,
	@paymentId int output
as 
begin 
	declare @billFees smallmoney;
	declare @billPaymentStatus smallint;
	declare @previousPaymentsSum smallmoney;
	declare @totalBill smallmoney;
	
	select @billPaymentStatus = bill_payment_status_id from generated_bills where generated_bill_id = @GeneratedBillId;
	
	select @previousPaymentsSum = ISNULL(SUM(payment_amount), 0) 
	from payments 
	where generated_bill_id = @GeneratedBillId;
	
	select @billFees = generated_bill_fees from generated_bills where generated_bill_id = @GeneratedBillId;
	
	set @totalBill = @PaymentAmount + @previousPaymentsSum;
	
	if (@billPaymentStatus != 1)
		begin
			if @totalBill = @billFees
				begin
					begin transaction
						begin try
							INSERT INTO [dbo].[payments]
							([payment_amount]
							,[paid_by_tenant_id]
							,[generated_bill_id]
							,[received_by_rental_unit_owner_id]
							,[payment_date]
							,[payment_method_id]
							,[payment_status_id]
							,[created_at])
							VALUES
							(
								@PaymentAmount,
								@PaidByTenantId,
								@GeneratedBillId,
								@ReceivedByOwnerId,
								@PaymentDate,
								@PaymentMethodId,
								@PaymentStatusId,
								@CreatedAt
							);
							set @paymentId = SCOPE_IDENTITY();
							
							update generated_bills
								set bill_payment_status_id = 1
								where generated_bill_id = @GeneratedBillId;
								
							commit
						end try
						begin catch
							rollback
						end catch
				end
            
			if @totalBill > 0 and @totalBill < @billFees
				begin
					begin transaction
						begin try
							INSERT INTO [dbo].[payments]
							([payment_amount]
							,[paid_by_tenant_id]
							,[generated_bill_id]
							,[received_by_rental_unit_owner_id]
							,[payment_date]
							,[payment_method_id]
							,[payment_status_id]
							,[created_at])
							VALUES
							(
								@PaymentAmount,
								@PaidByTenantId,
								@GeneratedBillId,
								@ReceivedByOwnerId,
								@PaymentDate,
								@PaymentMethodId,
								@PaymentStatusId,
								@CreatedAt
							)
							set @paymentId = SCOPE_IDENTITY();
							
							update generated_bills
								set bill_payment_status_id = 3
								where generated_bill_id = @GeneratedBillId;
								
							commit
						end try
						begin catch
							rollback
						end catch
				end
		end
end
GO
USE [master]
GO
